[submodule "mod/bigbluebuttonbn"]
	path = mod/bigbluebuttonbn
	url = git@github.com:blindsidenetworks/moodle-mod_bigbluebuttonbn.git
[submodule "mod/scheduler"]
	path = mod/scheduler
	url = git@github.com:bostelm/moodle-mod_scheduler.git
[submodule "mod/bootstrapelements"]
	path = mod/bootstrapelements
	url = https://bitbucket.org/covuni/moodle-mod_bootstrapelements.git
[submodule "blocks/forum_aggregator"]
	path = blocks/forum_aggregator
	url = git@github.com:t6nis/moodle-block_forum_aggregator.git
