commands:
  1_make_cache_dir:
    command: mkdir -p /var/app/shared/cache /var/app/cache /var/app/tmp
  2_chown_local_cache_dir:
    command: chown webapp:webapp /var/app/shared/cache
  3_chown_cache_dir:
    command: chown webapp:webapp /var/app/cache
  4_chown_tmp_dir:
    command: chown webapp:webapp /var/app/tmp
